node_modules/
.next/
out/
build/
dist/
.env
.env.local
.env*.local
.env.produccion
*.log
npm-debug.log*
.DS_Store
coverage/
.vercel
.netlify
next-env.d.ts
/storage/
/respaldos/*
!/respaldos/.gitkeep
tsconfig.tsbuildinfo
